<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 
        How many items to appear in the logger window (i'd say about 5 to 7 is good).
        If you are raiding or doing ranked pvp, maybe you want longer history.
    -->
    <add key="swtor.max.items" value="5" />
    <!-- 
        Ability icon rotation (adds 'personality' to the logger).
        When a new ability is inserted, it will have a slight angle.
        0 for both fields means the images will be straight.
    -->
    <!-- recommend between -5 and -15 -->
    <add key="swtor.image.min.rotate" value="-10" />
    <!-- recommend between 5 and 15 -->
    <add key="swtor.image.max.rotate" value="10" />
    <!-- 
        Clears the ability log on exiting combat
        So that when you re-enter combat you will have a fresh ability log
    -->
    <add key="swtor.enable.combat.clear" value="true" />
    <!-- 
        Enable the debug logging.
        You will see a log.txt file appear in the SwtorCaster root directory.
        This will add some debug info for missing ability icon (.png) files so you can add images to the folder
        Abilities can be found at https://torcommunity.com/database/search/ability/
    -->
    <add key="swtor.enable.log" value="true" />
    <!-- 
          Display the star wars text with the ability. 
          Examples: 
            [ICON] Ravage
            [ICON] Force Charge
            [ICON] Force Choke
          
        The default text will be the ability name. (Or an alias if enabled)
    -->
    <add key="swtor.enable.ability.text" value="true" />
    <!-- 
        add personality by changing the ability text for each ability.
        Add the ability name as a key to this file.
        The value can be comma seperated (randomly picks at runtime) which text to display
    -->
    <add key="swtor.enable.aliases" value="false" />
    <!--     
        Custom aliases for ability text
        Add a comma (,) seperated list of values that can be used for each ability.
        A random item will be picked each time the ability is activated.    
    -->
    <!-- Examples
    <add key="rapid shots" value="auto attack"/>
    <add key="priming shot" value="lel"/>
    <add key="energy shield" value="u cant touch me bro"/>
    -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>